# Fichiers de configuration
Config/dev.ini
Config/prod.ini

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Vendor (si vous utilisez Composer plus tard)
/vendor/

# Fichiers temporaires
*.tmp
*.temp
